
.Fade-Left{
    opacity: 0;
}


@keyframes Left-In{
    0%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes Left-Out{

    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-60px);
    }

}


@keyframes Veloz-Left-In {
 
    0% {
      opacity: 0;
      transform: translateX(-100vw) skewX(70deg);
    }
      
    60% {
      opacity: 1;
      transform: skewX(-20deg);
      
    }
    
    80% {
      transform: skewX(15deg);
    }
    
  }

  @keyframes Veloz-Down-In{
    0% {
        opacity: 0;
        transform: translateY(-100vw) skewX(70deg);
      }
        
      60% {
        opacity: 1;
        transform: skewX(20deg);
        
      }
      
      80% {
        transform: skewX(-15deg);
      }
  }


  @keyframes Veloz-Right-In {
 
    0% {
      opacity: 0;
      transform: translateX(100vw) skewX(-70deg);
    }
      
    60% {
      opacity: 1;
      transform: skewX(20deg);
      
    }
    
    80% {
      transform: skewX(-15deg);
    }
    
  }