
.Fade-Left{
    opacity: 0;
}


@keyframes Left-In{
    0%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes Left-Out{

    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-60px);
    }

}
